.quoteBox{
    width: 50%;
    height: 500px;
    background-color: white;
    margin: 100px auto  auto auto !important;
    border: 7px black solid;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px;
}
.twitter{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 70%;
}
.twitter img{
    width: 64px;
    height: 64px;
}
.content{
    display: block;
    width: 80%;
    margin: 50px auto auto auto;
    height: 250px;
}
.text,.author{
    font-family: 'Brush Script MT', cursive;
    font-size: 32px;
}
.newQuote{
    display: block;
    width: 40%;
    padding: 0.5em 0;
    margin: 20px auto 0 auto;
    font-size: 24px;
    border: 5px black solid;
    border-radius: 5px;
}
.newQuote:hover{
    background-color: purple;
    color: white;
}